.MobileMenu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: block;
  background: var(--color-white);
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: -1;

  @media (min-width: #{$screen-md}) {
    width: 50%;
  }

  @media (min-width: #{$screen-lg}) {
    display: none;
  }

  &.js-appear {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%) !important;
  }
}
.MobileMenu__inner {
  margin: 0 auto;
  width: 80%;
  margin-top: 15rem;
  min-height: 100vh;
  @include center-start-column;
}

.MobileMenu__inner-top {
  width: 100%;
}

.MobileMenu__inner-bottom {
}

.MobileMenu__nav-menu {
  margin-top: 0;

  @media (min-width : #{$screen-xs}) and (max-width :  #{$screen-lg}) and (orientation :landscape) {
    margin-top: 10px;
  }

  li {
    line-height: 6rem;
    text-align: left;

    @media (min-width : #{$screen-xs}) and (max-width :  #{$screen-lg}) and (orientation :landscape) {
      line-height: 2rem;
    }
  }

  a {
    font-size: 2rem;
  }
}

.MobileMenu__inner-bottom {
  width: 100%;
}

.MobileMenu__socials {
  margin-top: 4rem;
}

.MobileMenu__nav-group {
}

.MobileMenu__menu-item {
  margin: 0 0.1rem;
  width: 100%;
  padding: 0;
}

.MobileMenu__item-has-children {
  border: none;
  background: transparent;
  position: relative;
}

.MobileMenu__item-has-children--inner {
  padding: 1.5rem 0;
  @include center-between;
  border-bottom: 1px solid var(--color-light-grey);
}

.MobileMenu__has-children-link {
  font-size: 1.8rem;
}

.MobileMenu__item-no-children {
}

.MobileMenu__link {
  @include center-between;
  border-bottom: 1px solid var(--color-light-grey);
  margin: 0;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

.MobileMenu__item--toggle {
  margin-left: 2rem;
  height: 3rem;
  width: 3rem;
  position: relative;
  display: flex;
  will-change: background;
  transition: background 0.4s ease-in-out;

  &.js-open {
    .toggle__circle--circle {
      stroke-dashoffset: 0;
    }

    .toggle--arrow {
      transform: rotate(180deg) translate(50%, 50%);
    }
  }

  &:hover {
    // background: var(--color-light-grey);

    .toggle__circle--circle {
      stroke-dashoffset: 0;
    }

    .toggle--arrow {
      transform: rotate(180deg) translate(50%, 50%);
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .toggle__circle--circle {
    stroke: var(--color-grey);
    stroke-width: 0.2rem;
    fill: transparent;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
    transition: stroke-dashoffset 0.3s cubic-bezier(0.08, 0.99, 0.78, 0.75);
  }

  path {
    fill: var(--color-black);
  }

  .toggle--arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease-in-out;
    will-change: transform;
  }
}

.MobileMenu__SubMenu {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.MobileMenu__SubMenu--inner {
}

.SubMenuMobile__link {
  position: relative;
  padding-left: 3rem;

  &::before {
    background: var(--color-black);
    content: '';
    height: 90%;
    left: 0;
    position: absolute;
    top: 5%;
    width: 2px;
  }
}

.MobileMenu__Search {
  display: block;

  @media (min-width: #{$screen-lg}) {
    display: none;
  }
}

.MobileMenu__Search-link {
  @include center-start;
  border-bottom: 1px solid var(--color-light-grey);
  margin: 0;
  font-size: 1.8rem;
  padding: 1.5rem 0;

  i {
    font-size: 1.5rem;
    color: var(--color-black);
    transform: rotateY(180deg);
    cursor: pointer;
    margin-right: 2rem;
  }
}
